.highlight {
  background: darken($grey300, 2%);
  border: 1px solid darken($grey300, 10%);
  border-radius: 4px;
  display: inline-block;
  padding: 0px 8px;
  margin: 0px 2px 0px 0px;
  font-weight: bold;
  color: $black100;

  &.link {
    cursor: pointer;
    text-decoration: underline;
    color: $primary200;

    // &:hover {
    //   text-decoration: none;
    // }
  }
}
