@font-face {
  src: url("../../assets/fonts/RobotoRegular.ttf");
  font-family: Roboto;
}

@import "./1-variables", "./2-mixins", "./3-generics";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $grey400;
  font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.demo-code {
  font-family: monospace;
  background-color: $grey300;
  padding: 2px;
  border-radius: 6px;
}
