// @override SLICK DOTS
.slick-dots {
  li {
    button:before {
      color: $grey100;
      font-size: 10px;
    }

    &.slick-active {
      button:before {
        color: $teal;
      }
    }
  }
}

// TABLE
.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $grey200;

  tr {
    border-bottom: 1px solid $grey200;

    %table-padding {
      padding: 15px;
    }

    th {
      text-align: left;
      color: darken($grey100, 20%);
      @extend %table-padding;
    }

    td {
      @extend %table-padding;
    }
  }

  tr:nth-child(even) {
    background: $grey300;
  }

  thead {
    tr {
      background: darken($grey300, 2%);
    }
  }
}

ul.spaced {
  margin-left: 20px;

  li {
    margin-bottom: 4px;
  }
}
