// @override SLICK DOTS
.slick-dots {
  li {
    button:before {
      color: $grey100;
      font-size: 10px;
    }

    &.slick-active {
      button:before {
        color: $teal;
      }
    }
  }
}

.demo-code {
  font-family: monospace;
  background-color: $grey300;
  padding: 2px;
  border-radius: 6px;
  // min-width: 500px;
}

// TABLE
.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $grey200;

  tr {
    border-bottom: 1px solid $grey200;

    %table-padding {
      padding: 15px;
    }

    th {
      text-align: left;
      color: darken($grey100, 20%);
      @extend %table-padding;
    }

    td {
      @extend %table-padding;
    }
  }

  tr:nth-child(even) {
    background: $grey300;
  }

  thead {
    tr {
      background: darken($grey300, 2%);
    }
  }
}

ol.spaced,
ul.spaced {
  margin-left: 20px;

  li {
    margin-bottom: 4px;
  }
}

.pagecontainer {
  display: flex;
  margin-top: 100px;
  margin-left: 320px;
  margin-right: 20%;

  @include responsive-for(xlg) {
    margin-right: 20px;
  }

  @include responsive-for(lg) {
    margin-left: 20px;
  }

  &-content {
    width: 100%;
  }

  &-subheadings {
    position: fixed;
    right: 0;
    top: 120px;
    width: 20%;
    padding: 0px 20px;

    @include responsive-for(xlg) {
      display: none;
    }
  }
}
