// HEADER STYLE
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid $grey200;
  background-color: $white;
  overflow: hidden;

  &__menu {
    font-size: 26px;
    position: relative;
    top: 6px;
    color: #353535;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4px;
    margin-right: 16px;

    &:hover {
      background-color: $grey300;
    }

    @include responsive-for(lg) {
      display: flex;
    }
  }

  &__wrapper {
    padding: 20px;
    display: flex;
    align-items: center;

    img {
      width: 80px;
    }

    .npmversion {
      margin-left: 20px;
      position: relative;
      top: 10px;
    }
  }

  &__title {
    color: $primary200;
    position: relative;
    top: 4px;
    user-select: none;
  }
}
