.title {
  margin-bottom: 20px;
  font-size: 40px;
  color: $black;
  font-weight: bold;

  &--secondary {
    margin: 2rem 0 1rem 0;
    font-size: 24px;
    color: $black;

    // a.hash {
    //   opacity: 0;
    //   cursor: pointer;
    //   color: $black;
    //   text-decoration: none;
    //   transition: opacity 0.2s;
    // }

    // &:hover {
    //   a.hash {
    //     opacity: 1;
    //   }
    // }
  }
}
