.sidenav {
  %sidenav {
    position: fixed;
    width: 340px;
    height: 100%;
    background-color: $white;
    z-index: 9;
    border-right: 1px solid $grey300;
    padding: 20px;
    top: 75px;
    overflow-y: auto;
    padding-bottom: 85px;

    @include scrollbar(4px, $grey200, $grey400, $grey100);
  }

  %link-item {
    text-decoration: none;
    color: $black;
    display: block;
    border-radius: 4px;
    padding: 8px 10px;

    &:hover {
      background: $grey300;
    }

    &.active {
      background: $primary200;
      color: $white;
    }
  }

  &-web {
    @extend %sidenav;
    display: block;

    @media all and (max-width: 768px) {
      display: none;
    }
  }

  &-mobile {
    @extend %sidenav;
    display: none;

    @media all and (max-width: 768px) {
      display: block;
    }
  }

  &-nav-group {
    margin-bottom: 10px;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      cursor: pointer;

      &-text {
        font-weight: bold;
        color: $black100;
      }

      .dropdownicon {
        color: $black100;
      }
    }

    &-list {
      list-style: none;

      &-items {
        margin-top: 5px;
        user-select: none;

        .link-item {
          @extend %link-item;
        }
      }
    }
  }

  // PARENT GROUP
  &-parent-group {
    margin-bottom: 30px;

    &-title {
      color: #a1a1a1;
    }

    &-list {
      margin-top: 20px;
      list-style-type: none;

      &-item {
        margin-top: 5px;
        user-select: none;

        .link-item {
          @extend %link-item;
        }
      }
    }
  }
}
