.alert-info {
  background-color: lighten($primary200, 40%);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid lighten($primary200, 20%);
  color: $primary200;
  line-height: 24px;
  margin-bottom: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: -2.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background-color: $primary200;
    border-radius: 20px;
  }

  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &-icon {
      font-size: 30px;
    }

    &-text {
      font-size: 24px;
      padding-left: 10px;
      font-weight: bold;
    }
  }
}
